pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "GetD365AccessToken",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Opruimen",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://login.microsoftonline.com/', variables('TenantID'), '/oauth2/token')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "@variables('AuthRequestBody')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "VerbindingOK",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetD365AccessToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(variables('D365URL'), 'api/data/v9.2/WhoAmI')",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ', activity('GetD365AccessToken').output.access_token)",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Contracts",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "VerbindingOK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetD365AccessToken').output.access_token}",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['_cr83c_contracttype_value']"
								},
								"sink": {
									"name": "ContractOmschrijving",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['value']"
					}
				},
				"inputs": [
					{
						"referenceName": "ContractsSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ContractsSink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Employees",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "VerbindingOK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetD365AccessToken').output.access_token}",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['cr83c_name']"
								},
								"sink": {
									"name": "EmployeeName",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['value']"
					}
				},
				"inputs": [
					{
						"referenceName": "EmployeesSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "EmployeesSink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Squads",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "VerbindingOK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetD365AccessToken').output.access_token}",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['cr83c_squadname']"
								},
								"sink": {
									"name": "Squadname",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['value']"
					}
				},
				"inputs": [
					{
						"referenceName": "SquadSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SquadsSink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Tribes",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "VerbindingOK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetD365AccessToken').output.access_token}",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['cr83c_tribename']"
								},
								"sink": {
									"name": "Tribename",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['value']"
					}
				},
				"inputs": [
					{
						"referenceName": "TribeSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "TribesSink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "TestStoredProcedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Tribes",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Squads",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Employees",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Contracts",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Customers",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "CustomersSquad",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Orders",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Invoices",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[TestSP]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Opruimen",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[DeleteAll]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Customers",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "VerbindingOK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetD365AccessToken').output.access_token}",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['cr83c_name']"
								},
								"sink": {
									"name": "Name",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['value']"
					}
				},
				"inputs": [
					{
						"referenceName": "CustomersSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CustomersSink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "CustomersSquad",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "VerbindingOK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetD365AccessToken').output.access_token}",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['cr83c_customersquadid']"
								},
								"sink": {
									"name": "Name",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['value']"
					}
				},
				"inputs": [
					{
						"referenceName": "CustomersSquadSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CustomerSquadSink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Orders",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "VerbindingOK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetD365AccessToken').output.access_token}",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['cr83c_projectname']"
								},
								"sink": {
									"name": "Name",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['value']"
					}
				},
				"inputs": [
					{
						"referenceName": "OrdersSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OrdersSink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Invoices",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "VerbindingOK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetD365AccessToken').output.access_token}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": {
								"value": "$['@odata.nextLink']",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['cr83c_description']"
								},
								"sink": {
									"name": "Name",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['value']"
					}
				},
				"inputs": [
					{
						"referenceName": "InvoicesSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "InvoicesSink",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"TenantID": {
				"type": "String",
				"defaultValue": "d9e6a08b-33cf-4b9b-ad69-00accc74df0c"
			},
			"AuthRequestBody": {
				"type": "String",
				"defaultValue": "client_id=353fa32d-a5d9-48f7-a5b7-6a8f69108e3f&grant_type=client_credentials&redirect_uri=https%3A%2F%2Fadf.azure.com%2F&resource=https%3A%2F%2Fsiennivt.crm4.dynamics.com%2F&client_secret=e5sY145YJ0ga7.y4Ysk~-_JMjzX_d08UkZ"
			},
			"D365URL": {
				"type": "String",
				"defaultValue": "https://siennivt.crm4.dynamics.com/"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-04-22T18:42:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}