ADFDVtoSQL/pipeline/NautaForEachDebtor.json
{
	"name": "NautaForEachDebtor",
	"properties": {
		"activities": [
			{
				"name": "Loop through Debtors",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Debtors",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Debtors').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Get Raw productlist per Debtor",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Save to SFTP",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OdbcSource",
									"query": {
										"value": "SELECT\nCollectionListUsage.\"cdcollijst\",\nCollectionListUsage.\"cddeb\",\nCollectionListLines.\"cdprodukt\",\nCollectionListLines.\"cdstandeenhd\",\nProducts.\"Omschr-35\",\nProductUnits.\"cduac\",\nSubstr(AssortmentProducts.\"cdblok\", 2, 1) Depricated,\nSubstr(AssortmentProducts.\"cdblok\", 7, 1) Blocked\nFROM\n\"PUB\".\"lb-202\" CollectionListUsage,\n\"PUB\".\"lb-203\" CollectionListLines,\n\"PUB\".\"bb-040\" Products,\n\"PUB\".\"lb-180\" AssortmentProducts,\n\"PUB\".\"bb-051\" ProductUnits\nWHERE\nCollectionListUsage.\"cdadmin\" = '10' AND AssortmentProducts.\"cdadmin\" = '10'\nAND CollectionListUsage.\"cdcollijst\" = CollectionListLines.\"cdcollijst\"\nAND CollectionListLines.\"cdprodukt\" = Products.\"cdprodukt\"\nAND CollectionListLines.\"cdstandeenhd\" = ProductUnits.\"cdstandeenhd\"\nAND CollectionListLines.\"cdprodukt\" = ProductUnits.\"cdprodukt\"\nAND CollectionListLines.\"cdstandeenhd\" = AssortmentProducts.\"cdstandeenhd\"\nAND CollectionListLines.\"cdprodukt\" = AssortmentProducts.\"cdprodukt\"\nAND CollectionListUsage.\"cddeb\" = @{item().debtorcode}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ODBCQueryDataSet",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ProductsPerDebtorCSV",
									"type": "DatasetReference",
									"parameters": {
										"debtorcode": {
											"value": "@item().debtorcode",
											"type": "Expression"
										},
										"filenametick": {
											"value": "@variables('File Name Tick')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set File Name Tick",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "File Name Tick",
								"value": {
									"value": "@string(ticks(utcnow()))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Get Stock for products",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Get Raw productlist per Debtor",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Nauta Get Stock",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"debtorcode": {
										"value": "@item().debtorcode",
										"type": "Expression"
									},
									"filenametick": {
										"value": "@variables('File Name Tick')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Merge Stockfile",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Get Stock for products",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "MergeStock",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "CookDebtorStockCSV",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "Merge Stockfile",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "NautaCookDebtorStockCSV",
									"type": "DataFlowReference",
									"parameters": {
										"debtorcode": "\"321197\"",
										"filenametick": "\"637636856972825204\""
									},
									"datasetParameters": {
										"sink1": {
											"debtorcode": "0"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "Save to SFTP",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set File Name Tick",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "SftpWriteSettings",
										"operationTimeout": "01:00:00",
										"useTempFileRename": true
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ProductsStockPerDebtorCSV",
									"type": "DatasetReference",
									"parameters": {
										"debtorcode": {
											"value": "@activity('Get Debtors').output",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SFTPSinkTest",
									"type": "DatasetReference",
									"parameters": {
										"ftpurl": {
											"value": "@item().ftpurl",
											"type": "Expression"
										},
										"ftpuser": "@item().ftpuser",
										"ftppass": "@item().ftppass",
										"ftppath": "@item().ftppath"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Debtors",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "setup",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"File Name Tick": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"annotations": []
	}
}