ADFDVtoSQL/pipeline/Nauta Get Stock.json
{
	"name": "Nauta Get Stock",
	"properties": {
		"activities": [
			{
				"name": "Get Products from Raw Stock CSV",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ProductsPerDebtorCSV",
						"type": "DatasetReference",
						"parameters": {
							"debtorcode": {
								"value": "@pipeline().parameters.debtorcode",
								"type": "Expression"
							},
							"filenametick": {
								"value": "@pipeline().parameters.filenametick",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop through Products",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Products from Raw Stock CSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Products from Raw Stock CSV').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "NautaWHStockAPI",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"debtorcode": {
				"type": "string",
				"defaultValue": "0"
			},
			"filenametick": {
				"type": "string",
				"defaultValue": "0"
			}
		},
		"annotations": []
	}
}