ADFDVtoSQL/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Dataverse Employees naar SQL Azure",
				"description": "Voorbeeld van een API naar SQL sync",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetD365AccessToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetD365AccessToken').output.access_token}",
								"type": "Expression"
							},
							"Prefer": {
								"value": "odata.track-changes",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE dbo.tmpEmployees",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['@odata.deltaLink']"
								},
								"sink": {
									"name": "Deltalink",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['cr83c_name']"
								},
								"sink": {
									"name": "Name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['cr83c_id']"
								},
								"sink": {
									"name": "Id",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['value']"
					}
				},
				"inputs": [
					{
						"referenceName": "DataVerseEmployees",
						"type": "DatasetReference",
						"parameters": {
							"URL": {
								"value": "@variables('CurrentDeltalinks')[0].Deltalink",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "tmpSQLEmployees",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetD365AccessToken",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set Current Deltalink Array variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://login.microsoftonline.com/', variables('TenantID'), '/oauth2/token')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "@variables('AuthRequestBody')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Upsert naar Sink",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Dataverse Employees naar SQL Azure",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Dataverse Contracts naar SQL Azure",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Dataverse Customers naar SQL Azure",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Dataverse CustomerSquad naar SQL Azure",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Dataverse Invoices naar SQL Azure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow1",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Dataverse Contracts naar SQL Azure",
				"description": "Voorbeeld van een API naar SQL sync",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetD365AccessToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetD365AccessToken').output.access_token}",
								"type": "Expression"
							},
							"Prefer": {
								"value": "odata.track-changes",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE dbo.tmpContracts",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['cr83c_contractsid']"
								},
								"sink": {
									"name": "Name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['cr83c_id']"
								},
								"sink": {
									"name": "Id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['@odata.deltaLink']"
								},
								"sink": {
									"name": "Deltalink",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['value']"
					}
				},
				"inputs": [
					{
						"referenceName": "DataVerseContracts",
						"type": "DatasetReference",
						"parameters": {
							"URL": {
								"value": "@variables('CurrentDeltalinks')[1].Deltalink",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "tmpSQLContracts",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Dataverse Customers naar SQL Azure",
				"description": "Voorbeeld van een API naar SQL sync",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetD365AccessToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetD365AccessToken').output.access_token}",
								"type": "Expression"
							},
							"Prefer": {
								"value": "odata.track-changes",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE dbo.tmpCustomers",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['cr83c_name']"
								},
								"sink": {
									"name": "Name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['cr83c_id']"
								},
								"sink": {
									"name": "Id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['@odata.deltaLink']"
								},
								"sink": {
									"name": "Deltalink",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['value']"
					}
				},
				"inputs": [
					{
						"referenceName": "DataVerseCustomers",
						"type": "DatasetReference",
						"parameters": {
							"URL": {
								"value": "@variables('CurrentDeltalinks')[2].Deltalink",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "tmpSQLCustomers",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Dataverse CustomerSquad naar SQL Azure",
				"description": "Voorbeeld van een API naar SQL sync",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetD365AccessToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetD365AccessToken').output.access_token}",
								"type": "Expression"
							},
							"Prefer": {
								"value": "odata.track-changes",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE dbo.tmpCustomerSquad",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['cr83c_id']"
								},
								"sink": {
									"name": "Id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['cr83c_customersquadid']"
								},
								"sink": {
									"name": "Name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['@odata.deltaLink']"
								},
								"sink": {
									"name": "Deltalink",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['value']"
					}
				},
				"inputs": [
					{
						"referenceName": "DataVerseCustomerSquad",
						"type": "DatasetReference",
						"parameters": {
							"URL": {
								"value": "@variables('CurrentDeltalinks')[3].Deltalink",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "tmpSQLCustomerSquad",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Dataverse Invoices naar SQL Azure",
				"description": "Voorbeeld van een API naar SQL sync",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetD365AccessToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetD365AccessToken').output.access_token}",
								"type": "Expression"
							},
							"Prefer": {
								"value": "odata.track-changes",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": {
								"value": "$['@odata.nextLink']",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE dbo.tmpInvoices",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['cr83c_id']"
								},
								"sink": {
									"name": "Id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['cr83c_description']"
								},
								"sink": {
									"name": "Name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['@odata.deltaLink']"
								},
								"sink": {
									"name": "Deltalink",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['value']"
					}
				},
				"inputs": [
					{
						"referenceName": "DataVerseInvoices",
						"type": "DatasetReference",
						"parameters": {
							"URL": {
								"value": "@variables('CurrentDeltalinks')[4].Deltalink",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "tmpSQLInvoices",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DeltaLinksArray",
				"description": "0: Employees\n1: Contracts\n2: Customers\n3: CustomerSquads\n4: Invoices\n",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT Deltalink, TableName FROM DVChangeTracking ORDER By Id",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DVChangeTracking",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set Current Deltalink Array variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DeltaLinksArray",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentDeltalinks",
					"value": {
						"value": "@activity('DeltaLinksArray').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"TenantID": {
				"type": "String",
				"defaultValue": "d9e6a08b-33cf-4b9b-ad69-00accc74df0c"
			},
			"AuthRequestBody": {
				"type": "String",
				"defaultValue": "client_id=353fa32d-a5d9-48f7-a5b7-6a8f69108e3f&grant_type=client_credentials&redirect_uri=https%3A%2F%2Fadf.azure.com%2F&resource=https%3A%2F%2Fsiennivt.crm4.dynamics.com%2F&client_secret=e5sY145YJ0ga7.y4Ysk~-_JMjzX_d08UkZ"
			},
			"D365URL": {
				"type": "String",
				"defaultValue": "https://siennivt.crm4.dynamics.com/"
			},
			"EmployeesCurrentDeltalink": {
				"type": "String"
			},
			"EmployeesNewDeltalink": {
				"type": "String"
			},
			"ContractsCurrentDeltalink": {
				"type": "String"
			},
			"ContractsNewDeltalink": {
				"type": "String"
			},
			"CustomersCurrentDeltalink": {
				"type": "String"
			},
			"CustomersNewDeltalink": {
				"type": "String"
			},
			"CustomerSquadCurrentDeltalink": {
				"type": "String"
			},
			"CustomerSquadNewDeltalink": {
				"type": "String"
			},
			"InvoicesCurrentDeltalink": {
				"type": "String"
			},
			"InvoicesNewDeltalink": {
				"type": "String"
			},
			"CurrentDeltalinks": {
				"type": "Array"
			},
			"TestSingle": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-04-28T08:50:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}